
@media  (max-width: 955px){
    .App{
        flex-direction: column;
        display: flex;
        height: 100%;
    }
}
@media  (min-width:956px){
    .App{
        height: 100%;
        display: flex;
    }
}
