 @media (max-width: 955px){
    *{
        font-weight: bold;
    }
    .sideContainer{
        width: 100%;
        background-color:rgba(243, 243, 243, 0.822);
        box-shadow: 0px -1px 5px 1px rgb(143, 143, 143) ;
        }
        .nameContainer{
            width: 100%;
            display: flex;
            height: auto;
            font-family: 'Source Code Pro', monospace;
            margin-bottom: 5px;
            font-size: 20px;
        }
        .name{
            width: 100%;
            text-align: center;
        }
        #icon{
            margin-right:5px ;
        }
        .aboutContainer{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: auto;
            font-size: 8px;
            margin-bottom: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            text-align: center;
        }
        .contactContainer{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            text-align: center;
            
        }
        .contactTitleContainer{
            font-family: 'Source Code Pro', monospace;
            font-size: 8px;
            width: 100%;
            margin-bottom: 5px;
            
        }
        .contactInformationContainer{
            font-size: 8px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            
        }


        
      .resumeContainer{
        font-family: 'Source Code Pro', monospace;
        margin-bottom: 20px;
        font-size: 8px;
        width: 100%;
        text-align: center;
    }
    .skillsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .skillsChildContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .skillsTitle{
        font-family: 'Source Code Pro', monospace;
        font-size: 8px;
        margin-bottom: 5px;
    }
    .skill{
        font-size: 8px;
        font-family: 'Lato', sans-serif;
    }   
   .socialMediaContainer{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        
    }
    .socialLinks{
        text-decoration: none;
        color: black;
        font-size: 8px;
        font-family: 'Lato', sans-serif;
        padding:10px ;
    }

}






@media  (min-width:956px){
    .sideContainer{
        background-color:rgba(243, 243, 243, 0.822);
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid gray;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 25px;
        box-sizing: border-box;
    }
    .nameContainer{
        width: 100%;
        display: flex;
        height: auto;
        font-family: 'Source Code Pro', monospace;
        margin-bottom: 5px;
        font-size: 30px;
    }
    .name{
        width: 100%;
        text-align: left;
    }
    #icon{
        margin-right:5px ;
    }
    .aboutContainer{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        font-size: 12px;
        margin-bottom: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    
    .contactContainer{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .contactTitleContainer{
        font-family: 'Source Code Pro', monospace;
        font-size: 12px;
        width: 100%;
        margin-bottom: 5px;
    }
    .contactInformationContainer{
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        
    }
    .resumeContainer{
        font-family: 'Source Code Pro', monospace;
        margin-bottom: 20px;
        font-size: 12px;
        width: 100%;
    }
    .skillsContainer{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .skillsChildContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .skillsTitle{
        font-family: 'Source Code Pro', monospace;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .skill{
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }   
   .socialMediaContainer{
        display: flex;
        width: 60%;
        justify-content: space-between;
        height: 10%;
        align-items: flex-end;
    }
    .socialLinks{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}








